@use 'variables';
@use '_fonts';
@use 'components/menu';
@use 'components/content-overlay';

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    background: variables.$secondary-color;
    color: variables.$text-color;
    position: fixed;
    height: 100%;

    @include variables.desktop-up {
        position: initial;
    }
}

a,
a:visited,
a:active {
    color: variables.$primary-color;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

h2 {
    font-family: "Mr Dafoe", sans-serif;
    color: variables.$primary-color;
    font-size: 50px;
    text-shadow: 1px 1px 2px variables.$tertiary-color;

    @include variables.tablet-up {
        font-size: 60px;
    }

    @include variables.desktop-up {
        font-size: 70px;
    }

    @include variables.big-desktop-up {
        font-size: 90px;
    }

    @include variables.very-big-desktop-up {
        font-size: 100px;
    }
}

h3 {
    text-shadow: 1px 1px 2px orangered;
    margin-bottom: 5px;
    font-size: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0 none;
}

.hidden {
    display: none;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 30ms ease-out;
    width: 100%;

    &.on {
        opacity: 0.5;
    }

    &.on-long {
        opacity: 0.8;
        transition: opacity 30ms ease-in, 500ms ease-out;
    }

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        font-family: 'object-fit: cover';
    }
}

.social {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;

    svg {
        height: 30px;
        width: 30px;
        margin: 16px 16px 16px 0;
    }
}

.contact-icon {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 0;
    cursor: pointer;
    overflow: hidden;

    @include variables.desktop-up {
        bottom: calc(50dvh - 57px);
    }

    img {
        height: 70px;
        transition: right ease-in-out 400ms;
        position: relative;
        right: -70px;

        @include variables.tablet-up {
            height: 114px;
        }
    }

    &--visible {
        img {
            right: -12px;

            @include variables.tablet-up {
                right: -18px;
            }

            &:hover {
                right: 0;
            }
        }
    }
}

.container {
    max-width: variables.$max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    z-index: 1;

    &--no-padding {
        padding: 0;
    }
}

.logo {
    margin: 50px 0 0 0;

    @include variables.very-big-desktop-up {
        margin: 100px 0 0 0;
    }

    @media (max-height: 415px)  {
        width: calc(100dvw - 32px);
    }

    img {
        margin: 0 auto;
        opacity: 0;
        transition: opacity 50ms ease-in-out;
        z-index: 2;
        position: relative;
        
        @media (max-height: 415px)  {
            height: 50px;
        }
    }
}

.member {
    position: relative;
    height: calc(100vh - 145px - 190px);
    margin-left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    @include variables.landscape-up {
        height: calc(100vh - 100px - 164px);
    }

    @include variables.tablet-up {
        height: calc(100vh - 120px - 164px);
    }

    @include variables.desktop-up {
        height: calc(100vh - 160px - 194px);
    }

    @include variables.big-desktop-up {
        height: calc(100vh - 160px - 194px);
        margin-left: 75px;
    }

    @include variables.very-big-desktop-up {
        height: calc(100vh - 180px - 304px);
        margin-left: 115px;
    }

    &__details-container {
        position: relative;
        opacity: 0;
        transition: opacity 1s ease-in-out;

        .member__close-btn {
            position: absolute;
            top: 4px;
            right: 4px;
            border: 1px solid transparent;
            background: none;
            cursor: pointer;
            color: #fff;
            z-index: 4;

            svg {
                width: 50px;
                height: 50px;
            }
        }
    }

    &__details {
        display: none;
        width: 45vw;
        max-width: 720px;
        position: absolute;
        right: 0;
        top: calc(50vh - 105px - 153px + 60px);

        @include variables.landscape-up {
            top: calc(50vh - 105px - 153px + 80px);
        }

        @include variables.tablet-up {
            top: calc(50vh - 105px - 153px + 10px);
        }
    }

    &__img {
        height: 250px;
        position: absolute;
        top: calc(50vh - 105px - 153px);
        left: 0;
        opacity: 1;
        transition: left 3s ease-in-out, opacity 1s ease-in-out;

        &.d {
            left: 30px;
        }

        &.b {
            left: 10px;
        }

        &.a {
            left: 15px;
        }

        &.c {
            left: -30px;
        }

        &.j {
            left: -35px;
        }

        @include variables.landscape-up {
            top: calc(50vh - 100px - 164px);
        }

        @include variables.tablet-up {
            top: calc(50vh - 120px - 200px);
            height: 350px;

            &.d {
                left: 167px;
            }

            &.b {
                left: 121px;
            }

            &.a {
                left: 115px;
            }

            &.c {
                left: 31px;
            }

            &.j {
                left: 0;
            }
        }

        @include variables.desktop-up {
            top: calc(50vh - 180px - 194px);
            height: 400px;

            &.d {
                left: 180px;
            }

            &.b {
                left: 130px;
            }

            &.a {
                left: 120px;
            }

            &.c {
                left: 25px;
            }

            &.j {
                left: 0;
            }
        }

        @include variables.big-desktop-up {
            top: calc(50vh - 200px - 194px);
            height: 450px;

            &.d {
                left: 213px;
            }

            &.b {
                left: 160px;
            }

            &.a {
                left: 153px;
            }

            &.c {
                left: 43px;
            }

            &.j {
                left: 0;
            }
        }

        @include variables.very-big-desktop-up {
            top: calc(50vh - 180px - 304px);
            height: 500px;

            &.d {
                left: 221px;
            }

            &.b {
                left: 159px;
            }

            &.a {
                left: 153px;
            }

            &.c {
                left: 40px;
            }

            &.j {
                left: 0;
            }
        }
    }
}

.names {
    position: relative;
    height: 165px;
    margin-left: 0;
    opacity: 0;
    transition: opacity 3s 2s ease-in-out;

    h2 {
        cursor: pointer;

        &:hover {
            text-shadow: 2px 2px 5px variables.$tertiary-color;
        }
    }

    @include variables.landscape-up {
        height: 120px;
    }

    @include variables.tablet-up {
        height: 120px;
    }

    @include variables.desktop-up {
        height: 160px;
    }

    @include variables.big-desktop-up {
        margin-left: 75px;
    }

    @include variables.very-big-desktop-up {
        margin-left: 125px;
        height: 180px;
    }

    &__name {
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0;

        &.d {
            top: 6px;
            left: 250px;
        }

        &.b {
            top: 80px;
            left: 180px;
        }

        &.a {
            top: 6px;
            left: 107px;
        }

        &.c {
            top: 80px;
            left: 52px;
        }

        &.j {
            left: 5px;
        }

        @include variables.landscape-up {
            &.d {
                top: 6px;
                left: 517px;
            }

            &.b {
                top: 6px;
                left: 377px;
            }

            &.a {
                top: 6px;
                left: 233px;
            }

            &.c {
                top: 6px;
                left: 112px;
            }

            &.j {
                left: 25px;
            }
        }

        @include variables.tablet-up {
            &.d {
                top: 4px;
                left: 606px;
            }

            &.b {
                top: 4px;
                left: 442px;
            }

            &.a {
                top: 4px;
                left: 272px;
            }

            &.c {
                top: 4px;
                left: 130px;
            }

            &.j {
                left: 25px;
            }
        }

        @include variables.desktop-up {
            &.d {
                top: 4px;
                left: 815px;
            }

            &.b {
                top: 4px;
                left: 603px;
            }

            &.a {
                top: 4px;
                left: 383px;
            }

            &.c {
                top: 4px;
                left: 193px;
            }

            &.j {
                left: 52px;
            }
        }

        @include variables.big-desktop-up {
            &.d {
                top: 4px;
                left: 935px;
            }

            &.b {
                top: 4px;
                left: 669px;
            }

            &.a {
                top: 4px;
                left: 400px;
            }

            &.c {
                top: 4px;
                left: 172px;
            }

            &.j {
                left: 5px;
            }
        }

        @include variables.very-big-desktop-up {
            &.d {
                top: 10px;
                left: 1005px;
            }

            &.b {
                top: 10px;
                left: 720px;
            }

            &.a {
                top: 10px;
                left: 418px;
            }

            &.c {
                top: 10px;
                left: 154px;
            }

            &.j {
                left: -30px;
            }
        }
    }
}

.loaded {
    .names {
        opacity: 1;
    }

    .member {
        opacity: 1;
    }

    .member__img {
        &.d {
            left: 155px;
        }

        &.b {
            left: 111px;
        }

        &.a {
            left: 95px;
        }

        &.c {
            left: 22px;
        }

        &.j {
            left: -15px;
        }

        @include variables.landscape-up {
            &.d {
                left: 410px;
            }

            &.b {
                left: 305px;
            }

            &.a {
                left: 225px;
            }

            &.c {
                left: 85px;
            }

            &.j {
                left: 0;
            }
        }

        @include variables.tablet-up {
            &.d {
                left: 430px;
            }

            &.b {
                left: 325px;
            }

            &.a {
                left: 255px;
            }

            &.c {
                left: 100px;
            }

            &.j {
                left: 10px;
            }
        }

        @include variables.desktop-up {
            &.d {
                left: 564px;
            }

            &.b {
                left: 435px;
            }

            &.a {
                left: 330px;
            }

            &.c {
                left: 140px;
            }

            &.j {
                left: 18px;
            }
        }

        @include variables.big-desktop-up {
            &.d {
                left: 640px;
            }

            &.b {
                left: 480px;
            }

            &.a {
                left: 375px;
            }

            &.c {
                left: 160px;
            }

            &.j {
                left: 10px;
            }
        }

        @include variables.very-big-desktop-up {
            &.d {
                left: 700px;
            }

            &.b {
                left: 525px;
            }

            &.a {
                left: 390px;
            }

            &.c {
                left: 160px;
            }

            &.j {
                left: 10px;
            }
        }
    }
}

.on {
    .logo img {
        opacity: 1;
    }
}

.show-member {
    .member__img.j,
    .member__img.c,
    .member__img.a,
    .member__img.b,
    .member__img.d {
        left: 0;

        @include variables.tablet-up {
            left: 20px;
        };
    }

    .member__details-container {
        opacity: 1;
    }

    &.j {
        .member__details.j {
            display: block;
        }

        .member__img.c,
        .member__img.a,
        .member__img.b,
        .member__img.d {
            opacity: 0;
        }
    }

    &.c {
        .member__details.c {
            display: block;
        }

        .member__img.j,
        .member__img.a,
        .member__img.b,
        .member__img.d {
            opacity: 0;
        }
    }

    &.a {
        .member__details.a {
            display: block;
        }

        .member__img.j,
        .member__img.c,
        .member__img.b,
        .member__img.d {
            opacity: 0;
        }
    }

    &.b {
        .member__details.b {
            display: block;
        }

        .member__img.j,
        .member__img.c,
        .member__img.a,
        .member__img.d {
            opacity: 0;
        }
    }

    &.d {
        .member__details.d {
            display: block;
        }

        .member__img.j,
        .member__img.c,
        .member__img.a,
        .member__img.b {
            opacity: 0;
        }
    }
}

.gallery-detail {
    z-index: 1981;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.85);

    &--active {
        display: block;
    }

    &__close-btn {
        position: absolute;
        top: 4px;
        right: 4px;
        border: 1px solid transparent;
        background: none;
        cursor: pointer;
        color: #fff;
        z-index: 1982;

        svg {
            width: 50px;
            height: 50px;
        }
    }
}