.content-overlay {
    position: fixed;
    top: 110px;
    right: 0;
    height: 100%;
    width: 100vw;
    z-index: 39;
    background-color: rgba(0, 0, 0, 0.7);
    transition: transform 250ms ease-in-out;
    transform: translateX(100%);
    border-top: 1px solid $tertiary-color;

    @include landscape-up {
        top: 145px;
    }

    @media (max-height: 415px)  {
        top: 105px;
    }

    @include tablet-up {
        top: 165px;
    }

    @include desktop-up {
        top: 185px;
    }

    @include very-big-desktop-up {
        top: 235px;
    }

    &--active {
        transform: translateX(0);
    }

    &__entry {
        display: none;
        padding: 20px;
        color: $tertiary-color;
        overflow-y: scroll;
        height: calc(100% - 120px);
        @include hide-scrollbars;

        @include landscape-up {
            height: calc(100% - 155px);
        }

        @include tablet-up {
            height: calc(100% - 175px);
        }

        @include desktop-up {
            height: calc(100% - 195px);
            max-width: 900px;
            margin: 0 auto;
        }

        @include very-big-desktop-up {
            height: calc(100% - 245px);
        }

        a, a:visited, a:active {
            color: $tertiary-color;
        }

        &--active {
            display: block;
        }

        .content-text-img {
            border-radius: 5px;
            margin: 0 auto;

            @include desktop-up {
                max-width: calc(100% - 60px);
            }
        }
    }
}

.event-separator {
    border-top: 2px solid #700;
    margin-top: 32px;
    position: relative;
    height: 16px;

    &__content {
        background: rgba(0, 0, 0, 0.2);
        color: #ffffff;
        position: absolute;
        top: -17px;
        left: 32px;
        font-size: 20px;
        padding: 5px;
    }
}

.event {
    display: flex;
    justify-items: flex-start;
    margin: 0;
    padding: 16px;

    &__date-circle {
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 50px;
        color: #ffffff;
        text-align: center;
        margin-right: 16px;

        &-month {
            font-size: 16px;
            margin-top: 5px;
            font-weight: bold;
        }

        &-day {
            font-size: 24px;
            line-height: 18px;
        }
    }

    &__info {
        width: calc(100% - 66px);

        h3 {
            margin-top: 5px;
            margin-bottom: 0;
            line-height: 24px;
            font-size: 22px;
        }

        &-content {
            color: #ddd;
            font-size: 16px;
        }
    }
}

.track {
    display: flex;
    justify-items: flex-start;
    margin: 0;
    padding: 16px;

    &__play {
        width: 54px;
        height: 54px;
        text-align: center;
        margin-right: 12px;
        cursor: pointer;

        .st0 {
            fill: #ffffff;
        }
    }

    &__info {
        width: calc(100% - 66px);

        h3 {
            margin-top: 5px;
            margin-bottom: 0;
            line-height: 24px;
            font-size: 22px;
        }

        &-content {
            color: #ddd;
            font-size: 16px;

            &-audio {
                margin-top: 8px;
                display: none;
            }
        }
    }
}

.gallery {
    display: grid;
    row-gap: 20px;
    margin-bottom: 20px;

    &-img {
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 0 0 6px #fff;
        cursor: pointer;
        transition: box-shadow ease-in-out 200ms;

        &:hover {
            box-shadow: 0 0 10px #ff2c2c;
        }
    }

    @include tablet-up {
        column-gap: 20px;
        grid-template-columns: 1fr 1fr
    }
}